.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  background: image-url("sf.jpg");
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.phrase {
  align-content: center;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 45px;
  font-weight: bold;
}

section.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1.5px solid lightgray;
}

section.footer > a {
  width:50px;
  height: auto;
}

.linkedin {
  margin-top: 10px;
  width: 35px;
}
