.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  background: image-url("sf.jpg");
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.phrase {
  align-content: center;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 45px;
  font-weight: bold;
}

.splash > div {
  text-align: center;
}

.splash a {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
  color: white;
}

.splash a:hover {
  background-color: deepskyblue;
  opacity: 0.7;
}

section.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1.5px solid lightgray;
}

section.footer > a {
  width:50px;
  height: auto;
}

.linkedin {
  margin-top: 10px;
  width: 35px;
}

.exploring {
  border: 1.5px solid white;
  padding: 4px;
}
