form.upload-form {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  width: 150px;
}

form.upload-form > button {
  background: rgb(66, 184, 221);
  border: 1.5px solid lightgray;
  margin-right: 5px;
  font-size: 15px;
  padding: 3px;
  align-items: center;
  width: 105px;
}

form.upload-form > button:hover {
  opacity: 50%;
}

form.upload-form > input {
  height: 30px;
  border: 1.5px solid lightgray;

}

button.upload-button {
  font-family: 'Patrick Hand SC', cursive;
  background: rgb(66, 184, 221);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

div.upload-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.upload-modal > a {
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  // margin-left: 30px;
}

div.upload-modal > a:hover {
  color: deepskyblue;
}
